@mixin divider-object($width: '100%', $height: '100px', $invert: false) {
  position: relative;
  top: 0;
  overflow: hidden;
  line-height: 0;

  svg {
    position: relative;
    display: block;
    width: calc(#{$width} + 1.3px);
    height: $height;

    @if ($invert) {
      transform: rotateY(180deg);
    }
  }
}

.divider-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
