.section {
  position: relative;
  min-height: 100vh;
  padding-left: 24px; // equivalent to Vuetify utility class pl-6
  padding-right: 24px; // equivalent to Vuetify utility class pr-6
  overflow: hidden;
}

@mixin section-background-color($color: #000) {
  &.section {
    background-color: $color;
  }
}

.section-background-darker {
  @include section-background-color($background-darker);
}

.section-background-dark {
  @include section-background-color($background-dark);
}

.section-background-median {
  @include section-background-color($background-median);
}

.section-background-light {
  @include section-background-color($background-light);
}

.section-background-lighter {
  @include section-background-color($background-lighter);
}

.shape {
  $shadow: drop-shadow(0 5px 2px rgba(0, 0, 0, 0.65));

  &.elevate-bottom {
    filter: $shadow;
    -webkit-filter: $shadow;
  }

  @mixin shape-fill($color: #000) {
    ::v-deep .shape-fill {
      fill: $color;
    }
  }

  &.fill-background-darker {
    @include shape-fill($background-darker);
  }

  &.fill-background-dark {
    @include shape-fill($background-dark);
  }

  &.fill-background-median {
    @include shape-fill($background-median);
  }

  &.fill-background-light {
    @include shape-fill($background-light);
  }

  &.fill-background-lighter {
    @include shape-fill($background-lighter);
  }

  &.offset-top-10 {
    top: -10px;
  }

  &.offset-top-15 {
    top: -15px;
  }
}
