<script lang="ts">
export default { name: 'BrandingLogoIcon' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="branding-logo-icon"
  >
    <g>
      <g>
        <path fill-rule="evenodd" d="M29.34 9.09L18.93 27.77L14.87 29.35L26.91 7.87L29.34 9.09ZM15.15 29.1L18.84 27.67L29.16 9.14L26.96 8.03L15.15 29.1Z" />
      </g>
      <path d="M14.87 29.35L25.38 10.6L29.34 9.09L18.93 27.77L14.87 29.35Z" />
      <g>
        <g>
          <path fill-rule="evenodd" d="M12.78 18.27L4.33 21.51L10.28 24.38L8.99 26.71L1 22.88L1.02 19.92L14.83 14.58L12.78 18.27ZM1.14 20.01L1.13 22.8L8.94 26.54L10.1 24.44L4.27 21.62L4.01 21.5L4.28 21.39L12.69 18.17L14.56 14.82L1.14 20.01Z" />
        </g>
        <g>
          <path d="M14.57 17.62L14.57 17.62L14.57 17.62L14.57 17.62Z" />
        </g>
      </g>
      <g>
        <path d="M21.5 16.01L21.5 16.01L21.5 16.01L21.5 16.01Z" />
      </g>
      <g>
        <path d="M17.35 18.95L17.35 18.95L17.35 18.95L17.35 18.95Z" />
      </g>
      <g>
        <path fill-rule="evenodd" d="M12.18 28.24L9.66 27.04L19.93 8.57L24.01 7L12.18 28.24ZM20.02 8.67L9.84 26.99L12.13 28.07L23.74 7.24L20.02 8.67Z" />
      </g>
      <path d="" />
      <path d="" />
      <path d="" />
      <g>
        <path d="M12.78 18.27L14.83 14.58L1.02 19.92L1 22.88L4.42 21.48L12.78 18.27Z" />
        <path d="M14.57 17.62L14.57 17.62L14.57 17.62L14.57 17.62Z" />
      </g>
      <g>
        <g>
          <path fill-rule="evenodd" d="M35 18.61L34.98 21.56L21.16 26.91L23.22 23.21L31.67 19.98L25.73 17.11L27.02 14.78L35 18.61ZM25.91 17.05L31.73 19.86L31.99 19.99L31.72 20.09L23.3 23.32L21.44 26.67L34.86 21.47L34.87 18.69L27.07 14.95L25.91 17.05Z" />
        </g>
        <g>
          <path d="M21.32 23.91L21.32 23.91L21.32 23.91L21.32 23.91Z" />
        </g>
      </g>
      <g>
        <path d="M23.22 23.21L21.16 26.91L34.98 21.56L35 18.61L31.58 20.01L23.22 23.21Z" />
        <path d="M21.32 23.91L21.32 23.91L21.32 23.91L21.32 23.91Z" />
      </g>
      <path d="M9.66 27.04L19.93 8.57L24.01 7L13.73 25.47L9.66 27.04Z" />
    </g>
  </svg>
</template>

<style scoped>
.branding-logo-icon {
  fill: currentColor;
}
</style>
