$main-background-color: $background-median;

html {
  scroll-behavior: smooth;
  background-color: $main-background-color;
}

::-moz-selection {
  background: $selection-color;
}

::selection {
  background: $selection-color;
}

.pf-main-bg {
  background-color: $main-background-color;
}

.pf-semi-transparent-bg {
  background-color: rgba(0, 0, 0, 0.4) !important;
}

.pf-full-height {
  height: 100%;
}

.pf-absolute {
  position: absolute;
}

.pf-default-cursor {
  cursor: default !important;
}

.pf-fade-35 {
  opacity: 0.35;
}
