@mixin layer($index) {
  z-index: $index !important;
}

.pf-layer-background {
  @include layer($layer-background);
}

.pf-layer-content {
  @include layer($layer-content);
}

.pf-layer-navigation {
  @include layer($layer-navigation);
}

.pf-layer-navigation-1 {
  @include layer($layer-navigation-1);
}

.pf-layer-modal {
  @include layer($layer-modal);
}
