.pf-text-pair {
  font-family: Raleway, sans-serif !important;
}

.pf-text-pair-accent {
  font-family: Lato, sans-serif !important;
}

.pf-emphasized-title {
  text-decoration: underline solid currentColor;
  text-decoration-thickness: 3px;
  text-underline-offset: 4px;
  border-bottom: 2px dashed currentColor;
}

.pf-link-light {
  color: $accent !important;
}
