<script lang="ts">
export default { name: 'IconAdobePhotoshop' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-adobe-photoshop"
  >
    <path fill-rule="evenodd" d="M1 1L35 1L35 34.16L1 34.16L1 1ZM2.42 32.74L33.59 32.74L33.59 2.42L2.42 2.42L2.42 32.74ZM22.43 15.64C22.43 16.15 22.68 16.51 24.19 17.28C26.41 18.36 27.1 19.4 27.1 20.91C27.1 23.18 25.37 24.4 23.04 24.4C21.8 24.4 20.74 24.15 20.13 23.79C20.03 23.75 20.02 23.68 20.02 23.57L20.02 21.47C20.02 21.33 20.08 21.29 20.19 21.36C21.08 21.94 22.1 22.2 23.04 22.2C24.15 22.2 24.62 21.73 24.62 21.09C24.62 20.58 24.3 20.13 22.86 19.39C20.85 18.43 20.02 17.45 20.02 15.82C20.02 13.99 21.45 12.47 23.93 12.47C25.15 12.47 26 12.66 26.46 12.87C26.58 12.94 26.61 13.05 26.61 13.16L26.61 15.1C26.61 15.21 26.54 15.28 26.39 15.24C25.77 14.85 24.85 14.61 23.93 14.61C22.81 14.61 22.43 15.17 22.43 15.64ZM9.53 8.6C10.44 8.56 11.79 8.53 13.18 8.53C17.11 8.53 18.64 10.68 18.64 13.43C18.64 17.03 16.03 18.57 12.83 18.57C12.29 18.57 12.11 18.55 11.72 18.55L11.72 23.98C11.72 24.1 11.68 24.15 11.55 24.15L9.39 24.15C9.27 24.15 9.22 24.11 9.22 23.98L9.22 8.77C9.22 8.67 9.41 8.6 9.53 8.6ZM12.89 16.32C14.55 16.32 16.11 15.74 16.11 13.48C16.11 11.68 14.99 10.78 13.1 10.78C12.54 10.78 12 10.8 11.74 10.82L11.75 16.29C12.07 16.32 12.32 16.32 12.89 16.32Z" />
  </svg>
</template>

<style>
.icon-adobe-photoshop {
  fill: currentColor;
}
</style>
