<script lang="ts">
export default { name: 'IconAdobeAfterEffects' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-adobe-after-effects"
  >
    <path fill-rule="evenodd" d="M1 1L35 1L35 34.03L1 34.03L1 1ZM2.42 32.62L33.58 32.62L33.58 2.41L2.42 2.41L2.42 32.62ZM22.18 18.88L22.18 18.88C22.18 18.87 22.18 18.87 22.18 18.86L22.18 18.88ZM25.27 22.05C26.1 22.05 26.83 21.93 27.58 21.61C27.68 21.57 27.75 21.58 27.75 21.71L27.75 23.47C27.75 23.61 27.7 23.68 27.61 23.75C26.85 24.12 25.92 24.29 24.76 24.29C21.02 24.29 19.62 21.54 19.62 18.47C19.62 15.14 21.34 12.42 24.39 12.42C27.48 12.42 28.55 15 28.55 17.11C28.55 17.78 28.51 18.33 28.44 18.6C28.41 18.71 28.37 18.76 28.26 18.79C27.97 18.83 27.14 18.88 25.89 18.88L22.18 18.88C22.22 20.77 23.12 22.05 25.27 22.05ZM26.1 16.89C26.1 16.8 26.13 16.72 26.13 16.65C26.13 15.89 25.76 14.48 24.29 14.48C22.93 14.48 22.35 15.67 22.21 16.92L25.05 16.92C25.78 16.92 26.03 16.92 26.1 16.89ZM10.6 19.7L9.49 23.92C9.46 24.04 9.42 24.08 9.27 24.08L7.19 24.08C7.05 24.08 7.02 24.04 7.05 23.87L11.07 9.85C11.14 9.6 11.19 9.4 11.21 8.69C11.21 8.59 11.26 8.55 11.33 8.55L14.3 8.55C14.4 8.55 14.44 8.58 14.47 8.69L18.98 23.9C19.01 24.01 18.98 24.08 18.86 24.08L16.53 24.08C16.41 24.08 16.34 24.04 16.31 23.94L15.15 19.7L10.6 19.7L10.6 19.7ZM12.87 10.78L12.84 10.78C12.55 12.43 11.77 15.23 11.19 17.42L14.59 17.42C14.19 15.85 13.23 12.43 12.87 10.78Z" />
  </svg>
</template>

<style>
.icon-adobe-after-effects {
  fill: currentColor;
}
</style>
