<script lang="ts">
export default { name: 'IconAutodeskMaya' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-autodesk-maya"
  >
    <g>
      <g>
        <path class d="M24.79 2.94L35 2.94L21.36 28.14C21.36 28.14 19.06 21.46 18.07 19.08" />
        <g>
          <path d="M27.31 34.1L35 34.1L35 2.94C34.99 19.22 28.15 34.1 27.31 34.1Z" />
        </g>
        <path d="M21.36 28.14L15.01 28.14L1 2.94C3.49 2.63 8.45 2.2 10.91 2L21.36 28.14Z" />
        <path d="M9.13 18.19C7.02 26.5 0.99 34.34 1 34.33C7.98 34.33 9.49 33.32 9.49 32.79C9.49 32.49 9.49 23.21 9.49 18.82C9.37 18.62 9.25 18.4 9.13 18.19Z" />
        <path d="M1 2.94L1 34.33C4.82 28.02 7.05 23.89 9.02 18C4.16 9.42 1 2.94 1 2.94Z" />
        <path d="M26.78 32.86L27.31 34.1L27.31 17.74L26.78 18.62" />
        <path d="M27.29 17.77L27.29 34.04L27.31 34.1C27.85 34.1 34.99 16.49 34.99 2.94C34.99 2.94 30.64 12.03 27.29 17.77Z" />
      </g>
    </g>
  </svg>
</template>

<style>
.icon-autodesk-maya {
  fill: currentColor;
}
</style>
