<script lang="ts">
export default { name: 'IconBackEnd' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-back-end"
  >
    <g>
      <g>
        <path fill-rule="evenodd" d="M10.07 5.83C10.07 6.92 9.18 7.81 8.08 7.8L3.27 7.8C2.01 7.8 1 6.79 1 5.54C1 5.27 1.05 5 1.14 4.75C1.58 3.57 2.88 2.98 4.06 3.41C4.17 3.31 4.29 3.21 4.41 3.13C5.58 2.35 7.16 2.67 7.94 3.84C7.99 3.84 8.05 3.84 8.1 3.84C9.19 3.84 10.08 4.73 10.07 5.83ZM8.9 5.54C8.75 5.09 8.26 4.86 7.82 5.02C7.54 5.11 7.24 4.97 7.12 4.7C7.02 4.46 6.85 4.25 6.63 4.1C5.99 3.65 5.11 3.8 4.66 4.44C4.48 4.69 4.14 4.76 3.89 4.59C3.7 4.47 3.49 4.4 3.27 4.4C2.64 4.4 2.13 4.91 2.13 5.54C2.13 6.16 2.64 6.67 3.27 6.67L8.08 6.67C8.19 6.67 8.29 6.65 8.38 6.62C8.83 6.47 9.06 5.98 8.9 5.54Z" />
      </g>
    </g>
    <g>
      <g>
        <path fill-rule="evenodd" d="M31.03 12.23L31.03 20.27C31.03 20.58 30.78 20.84 30.47 20.84L28.2 20.84L28.2 27L29.88 33.73C29.89 33.78 29.9 33.82 29.9 33.87C29.9 34.18 29.65 34.44 29.33 34.44L6.67 34.44C6.62 34.44 6.57 34.43 6.53 34.42C6.23 34.34 6.04 34.03 6.12 33.73L7.8 27L7.8 20.84L5.53 20.84C5.22 20.84 4.97 20.58 4.97 20.27L4.97 11.66C4.48 11.49 4.1 11.11 3.93 10.63C3.62 9.74 4.08 8.77 4.97 8.46C5.85 8.15 6.82 8.61 7.14 9.5C7.45 10.38 6.99 11.35 6.1 11.66L6.1 19.7L7.8 19.7L7.8 16.3C7.8 15.99 8.05 15.74 8.37 15.74L17.43 15.74L17.43 14.5C16.95 14.33 16.57 13.95 16.4 13.46C16.08 12.58 16.55 11.61 17.43 11.29C18.32 10.98 19.29 11.44 19.6 12.33C19.92 13.21 19.45 14.19 18.57 14.5L18.57 15.74L27.63 15.74C27.95 15.74 28.2 15.99 28.2 16.3L28.2 19.7L29.9 19.7L29.9 12.23C29.42 12.06 29.04 11.68 28.86 11.2C28.55 10.31 29.01 9.34 29.9 9.03C30.79 8.71 31.76 9.18 32.07 10.06C32.38 10.95 31.92 11.92 31.03 12.23ZM6.1 10.07C6.1 9.76 5.85 9.5 5.53 9.5C5.22 9.5 4.97 9.76 4.97 10.07C4.97 10.38 5.22 10.64 5.53 10.64C5.85 10.64 6.1 10.38 6.1 10.07ZM17.43 12.9C17.43 13.22 17.69 13.47 18 13.47C18.31 13.47 18.57 13.22 18.57 12.9C18.57 12.59 18.31 12.34 18 12.34C17.69 12.34 17.43 12.59 17.43 12.9ZM8.93 26.5L27.07 26.5L27.07 16.87L8.93 16.87L8.93 26.5ZM27.19 27.64L8.81 27.64L7.39 33.3L28.61 33.3L27.19 27.64ZM31.03 10.64C31.03 10.32 30.78 10.07 30.47 10.07C30.15 10.07 29.9 10.32 29.9 10.64C29.9 10.95 30.15 11.2 30.47 11.2C30.78 11.2 31.03 10.95 31.03 10.64Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M25.37 18L23.67 18L23.67 19.14L24.8 19.14L24.8 20.84L25.93 20.84L25.93 18.57C25.93 18.26 25.68 18 25.37 18Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M11.2 24.24L11.2 22.54L10.07 22.54L10.07 24.8C10.07 25.12 10.32 25.37 10.63 25.37L14.03 25.37L14.03 24.24L11.2 24.24Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M10.07 28.77L11.77 28.77L11.77 29.9L10.07 29.9L10.07 28.77Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M12.9 28.77L14.6 28.77L14.6 29.9L12.9 29.9L12.9 28.77Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M15.73 28.77L17.43 28.77L17.43 29.9L15.73 29.9L15.73 28.77Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M18.57 28.77L20.27 28.77L20.27 29.9L18.57 29.9L18.57 28.77Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M21.4 28.77L23.1 28.77L23.1 29.9L21.4 29.9L21.4 28.77Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M24.23 28.77L25.93 28.77L25.93 29.9L24.23 29.9L24.23 28.77Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M10.07 31.04L11.77 31.04L11.77 32.17L10.07 32.17L10.07 31.04Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M12.9 31.04L14.6 31.04L14.6 32.17L12.9 32.17L12.9 31.04Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M15.73 31.04L17.43 31.04L17.43 32.17L15.73 32.17L15.73 31.04Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M18.57 31.04L20.27 31.04L20.27 32.17L18.57 32.17L18.57 31.04Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M21.4 31.04L23.1 31.04L23.1 32.17L21.4 32.17L21.4 31.04Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M24.23 31.04L25.93 31.04L25.93 32.17L24.23 32.17L24.23 31.04Z" />
      </g>
    </g>
    <g>
      <g>
        <path fill-rule="evenodd" d="M21.97 2.6L21.97 4.87C21.97 5.05 21.87 5.23 21.71 5.34C20.62 6.07 19.32 6.46 18 6.46C16.68 6.47 15.38 6.07 14.28 5.34C14.13 5.23 14.03 5.05 14.03 4.87L14.03 2.6C14.03 2.41 14.13 2.23 14.29 2.13L14.29 2.13C16.53 0.62 19.47 0.62 21.71 2.13L21.71 2.13C21.87 2.23 21.97 2.41 21.97 2.6ZM15.8 2.6C17.2 3.21 18.8 3.21 20.2 2.6C18.8 1.99 17.2 1.99 15.8 2.6ZM20.83 3.57C19.04 4.41 16.96 4.41 15.17 3.57L15.17 4.55C16.91 5.59 19.09 5.59 20.83 4.55L20.83 3.57Z" />
      </g>
    </g>
    <g>
      <g>
        <path fill-rule="evenodd" d="M21.97 6.77L21.97 9.04C21.97 9.23 21.87 9.41 21.71 9.51C19.47 11.02 16.53 11.02 14.29 9.51C14.13 9.41 14.03 9.23 14.03 9.04L14.03 6.77C14.03 6.66 14.07 6.55 14.13 6.46C14.3 6.2 14.65 6.13 14.91 6.3C16.78 7.55 19.22 7.55 21.09 6.3C21.26 6.18 21.48 6.17 21.67 6.27C21.85 6.37 21.97 6.56 21.97 6.77ZM20.83 7.74C19.04 8.58 16.96 8.58 15.17 7.74L15.17 8.73C16.91 9.76 19.09 9.76 20.83 8.73L20.83 7.74Z" />
      </g>
    </g>
    <g>
      <g>
        <path fill-rule="evenodd" d="M35 3.27L35 7.8C35 8.12 34.75 8.37 34.43 8.37L25.37 8.37C25.05 8.37 24.8 8.12 24.8 7.8L24.8 3.27C24.8 2.96 25.05 2.7 25.37 2.7L34.43 2.7C34.75 2.7 35 2.96 35 3.27ZM33.87 3.84L25.93 3.84L25.93 7.24L33.87 7.24L33.87 3.84Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M31.6 4.97L32.73 4.97L32.73 6.1L31.6 6.1L31.6 4.97Z" />
      </g>
    </g>
    <g>
      <g>
        <path d="M27.07 4.97L30.47 4.97L30.47 6.1L27.07 6.1L27.07 4.97Z" />
      </g>
    </g>
  </svg>
</template>

<style>
.icon-back-end {
  fill: currentColor;
}
</style>
