<script lang="ts">
export default { name: 'IconBootstrapVue' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-bootstrap-vue"
  >
    <g>
      <path d="M4.62 5.39L5.47 6.77L3.59 6.77L2.77 5.39L4.62 5.39Z" />
      <path d="M32.23 6.77L33.07 5.39L31.19 5.39L30.38 6.77L32.23 6.77Z" />
    </g>
    <g>
      <path fill-rule="evenodd" d="M33.23 1L29.91 6.79L27.37 6.77L17.96 22.84L8.55 6.78L6.01 6.78L2.62 1L33.23 1ZM14.03 4.16L14.03 15.03C14.03 15.03 19.29 15.03 19.81 15.03C20.34 15.03 23.05 14.49 23.05 11.87C23.05 9.25 21.05 9.17 21.05 9.17C21.05 9.17 22.59 8.63 22.59 6.55C22.59 4.47 20.41 4.24 20.12 4.24C19.83 4.24 14.03 4.16 14.03 4.16Z" />
      <path d="M15.92 5.58L15.92 8.69C15.92 8.69 18.66 8.69 19.21 8.69C19.76 8.69 20.68 8.25 20.68 7.14C20.68 6.02 19.86 5.58 19.12 5.58C18.39 5.58 15.92 5.58 15.92 5.58Z" />
      <path d="M15.92 10L15.92 13.45C15.92 13.45 18.96 13.45 19.57 13.45C20.18 13.45 21.2 12.96 21.2 11.72C21.2 10.49 20.29 10 19.47 10C18.66 10 15.92 10 15.92 10Z" />
    </g>
    <path d="M2 7.14L8.4 7.14L18 23.74L27.6 7.14L34 7.14L18 34.81L2 7.14Z" />
  </svg>
</template>

<style>
.icon-bootstrap-vue {
  fill: currentColor;
}
</style>
