<script lang="ts">
export default { name: 'IconCircleCI' }
</script>

<template>
  <svg
    version="1.2"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 -10 280 280"
    width="263"
    height="263"
    class="icon-circle-ci"
  >
    <g>
      <circle cx="129.2" cy="131" r="30.6" />
      <path d="m129.2 2c71.1 0 129 57.9 129 129 0 71.1-57.9 129-129 129-60.1 0-110.6-41.3-125-97.3-0.4-0.4-0.4-1.1-0.4-1.5 0-3.7 3-6.2 6.3-6.2h52c2.6 0 4.4 1.4 5.5 4 10.7 22.9 33.9 39.1 61.2 39.1 37.2 0 67.4-30.2 67.4-67.5 0-37.2-30.2-67.4-67.4-67.4-26.9 0-50.5 15.8-61.2 39.4-1.1 2.2-2.9 3.7-5.5 3.7h-52c-3.7 0-6.3-2.9-6.3-6.3 0-0.3 0.4-1.1 0.4-1.4 14.4-55.3 64.9-96.6 125-96.6z" />
    </g>
  </svg>
</template>

<style>
.icon-circle-ci {
  fill: currentColor;
}
</style>
