<script lang="ts">
export default { name: 'IconCypress' }
</script>

<template>
  <svg
    version="1.2"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 256 256"
    width="256"
    height="256"
    class="icon-cypress"
  >
    <g>
      <path fill-rule="evenodd" d="m128 7.4c66.7 0 120.6 53.9 120.6 120.6 0 66.7-53.9 120.6-120.6 120.6-66.7 0-120.6-53.9-120.6-120.6 0-66.7 53.9-120.6 120.6-120.6zm98.1 68.6h-29.4l-22.4 87.3-21-87.3h-30.3l36.4 116.7c0 0-3.5 3.9-5.3 5.2-4.8 3.5-12.2 5.7-22.3 7l3 20.2c15.4-1.3 27.7-5.2 36.9-12.7 9.2-7.5 15.8-17.5 20.2-31.1zm-166.1 2.4c-7.4 4.8-13.6 11.4-17.5 20.2-4 8.3-6.2 18.4-6.2 29.4 0 11.4 2.2 21 6.2 29.3 3.9 8.4 10.1 15 17.5 19.3 7.9 4.4 16.7 6.6 27.2 6.6 13.2 0 24.6-3.9 34.6-12.3l-12.2-17.5c-4.4 2.6-7.9 4.4-11 5.7-3.1 1.3-6.6 1.8-10.1 1.8-7.4 0-12.7-2.2-16.7-7.5-3.9-4.8-5.7-13.2-5.7-25 0-23.2 7.5-34.6 22.4-34.6 3.5 0 7.5 0.4 10.5 1.7 3.1 1.3 6.6 3.1 10.1 5.7l12.3-16.7c-5.3-4.3-10.5-7.4-16.2-9.6-5.3-2.2-11.9-3.1-18.9-3.1-10.1 0-18.8 2.7-26.3 6.6z" />
    </g>
  </svg>
</template>

<style>
.icon-cypress {
  fill: currentColor;
}
</style>
