<script lang="ts">
export default { name: 'IconDevOps' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-dev-ops"
  >
    <path fill-rule="evenodd" d="M35 27.1L35 29.37C35 30.31 34.24 31.07 33.3 31.07L2.7 31.07C1.76 31.07 1 30.31 1 29.37L1 27.1C1 26.79 1.25 26.53 1.57 26.53L2.7 26.53L2.7 7.83C2.7 6.27 3.97 5 5.53 5L30.47 5C32.03 5 33.3 6.27 33.3 7.83L33.3 26.53L34.43 26.53C34.75 26.53 35 26.79 35 27.1ZM3.83 26.53L32.17 26.53L32.17 10.67L28.77 10.67L28.77 9.53L32.17 9.53L32.17 7.83C32.17 6.89 31.41 6.13 30.47 6.13L5.53 6.13C4.59 6.13 3.83 6.89 3.83 7.83L3.83 9.53L16.3 9.53L16.3 10.67L3.83 10.67L3.83 26.53ZM33.87 27.67L21.4 27.67L21.4 28.23C21.4 28.86 20.89 29.37 20.27 29.37L15.73 29.37C15.11 29.37 14.6 28.86 14.6 28.23L14.6 27.67L2.13 27.67L2.13 29.37C2.13 29.68 2.39 29.93 2.7 29.93L33.3 29.93C33.61 29.93 33.87 29.68 33.87 29.37L33.87 27.67ZM15.73 28.23L20.27 28.23L20.27 27.67L15.73 27.67L15.73 28.23Z" />
    <path d="M6.1 7.27L7.23 7.27L7.23 8.4L6.1 8.4L6.1 7.27Z" />
    <path d="M8.37 7.27L9.5 7.27L9.5 8.4L8.37 8.4L8.37 7.27Z" />
    <path d="M10.63 7.27L11.77 7.27L11.77 8.4L10.63 8.4L10.63 7.27Z" />
    <path fill-rule="evenodd" d="M16.87 18.6C16.87 20.48 15.34 22 13.47 22C11.59 22 10.07 20.48 10.07 18.6C10.07 16.72 11.59 15.2 13.47 15.2C15.34 15.2 16.86 16.72 16.87 18.6ZM15.73 18.6C15.73 17.35 14.72 16.33 13.47 16.33C12.21 16.33 11.2 17.35 11.2 18.6C11.2 19.85 12.21 20.87 13.47 20.87C14.72 20.87 15.73 19.85 15.73 18.6Z" />
    <path fill-rule="evenodd" d="M19.81 16.91C20.08 16.97 20.27 17.2 20.27 17.47L20.27 19.73C20.27 20 20.08 20.23 19.81 20.29L18.81 20.49C18.74 20.68 18.67 20.86 18.58 21.04L19.15 21.89C19.3 22.12 19.27 22.42 19.08 22.61L17.47 24.21C17.28 24.4 16.98 24.43 16.76 24.28L15.91 23.71C15.73 23.8 15.54 23.88 15.36 23.94L15.16 24.95C15.1 25.21 14.87 25.4 14.6 25.4L12.33 25.4C12.06 25.4 11.83 25.21 11.78 24.95L11.57 23.94C11.39 23.87 11.2 23.8 11.02 23.71L10.17 24.28C9.95 24.43 9.65 24.4 9.46 24.21L7.86 22.61C7.66 22.41 7.64 22.11 7.79 21.89L8.35 21.04C8.27 20.86 8.19 20.68 8.13 20.49L7.12 20.29C6.86 20.23 6.67 20 6.67 19.73L6.67 17.47C6.67 17.2 6.86 16.97 7.12 16.91L8.13 16.71C8.19 16.52 8.27 16.34 8.35 16.16L7.79 15.31C7.64 15.08 7.67 14.78 7.86 14.59L9.46 12.99C9.65 12.8 9.95 12.77 10.18 12.92L11.03 13.49C11.21 13.4 11.39 13.32 11.58 13.26L11.78 12.25C11.83 11.99 12.06 11.8 12.33 11.8L14.6 11.8C14.87 11.8 15.1 11.99 15.16 12.25L15.36 13.26C15.55 13.33 15.73 13.4 15.91 13.49L16.76 12.92C16.98 12.77 17.28 12.8 17.47 12.99L19.08 14.59C19.27 14.79 19.3 15.09 19.15 15.31L18.58 16.16C18.67 16.34 18.74 16.52 18.81 16.71L19.81 16.91ZM19.13 17.93L18.26 17.76C18.05 17.72 17.88 17.56 17.82 17.36C17.73 17.02 17.6 16.7 17.43 16.4C17.32 16.21 17.33 15.99 17.45 15.81L17.95 15.07L17 14.12L16.26 14.62C16.08 14.74 15.85 14.74 15.67 14.64C15.37 14.47 15.04 14.34 14.71 14.24C14.51 14.19 14.35 14.02 14.31 13.81L14.14 12.93L12.8 12.93L12.62 13.81C12.58 14.02 12.43 14.18 12.22 14.24C11.89 14.34 11.57 14.47 11.27 14.64C11.08 14.74 10.85 14.73 10.68 14.62L9.93 14.12L8.99 15.07L9.48 15.81C9.6 15.98 9.61 16.21 9.51 16.4C9.34 16.7 9.21 17.02 9.11 17.36C9.05 17.56 8.89 17.71 8.68 17.76L7.8 17.93L7.8 19.27L8.68 19.44C8.89 19.49 9.05 19.64 9.11 19.84C9.21 20.18 9.34 20.5 9.51 20.8C9.61 20.99 9.6 21.22 9.48 21.39L8.99 22.13L9.93 23.08L10.68 22.58C10.85 22.46 11.08 22.46 11.27 22.56C11.57 22.73 11.89 22.86 12.22 22.96C12.43 23.01 12.58 23.18 12.62 23.39L12.8 24.27L14.14 24.27L14.31 23.39C14.35 23.18 14.51 23.02 14.71 22.96C15.04 22.86 15.36 22.73 15.67 22.56C15.85 22.46 16.08 22.47 16.26 22.58L17 23.08L17.94 22.13L17.45 21.39C17.33 21.22 17.32 20.99 17.43 20.8C17.59 20.5 17.73 20.18 17.82 19.84C17.88 19.64 18.05 19.49 18.26 19.44L19.13 19.27L19.13 17.93Z" />
    <path d="M22.53 12.93C23.45 12.93 24.28 13.49 24.63 14.35C24.98 15.2 24.77 16.18 24.11 16.82C23.46 17.47 22.47 17.65 21.63 17.28L21.17 18.32C22.89 19.07 24.9 18.28 25.65 16.56C26.4 14.84 25.61 12.84 23.89 12.08C22.17 11.33 20.17 12.12 19.42 13.84L20.45 14.29C20.82 13.47 21.63 12.93 22.53 12.93Z" />
    <path d="M28.88 13.51L27.87 13.31C27.81 13.12 27.73 12.94 27.65 12.76L28.21 11.91C28.36 11.69 28.34 11.39 28.14 11.19L26.54 9.59C26.35 9.4 26.05 9.37 25.83 9.52L24.98 10.09C24.8 10 24.61 9.93 24.43 9.86L24.22 8.85C24.17 8.59 23.94 8.4 23.67 8.4L21.4 8.4C21.13 8.4 20.9 8.59 20.84 8.85L20.64 9.86C20.46 9.92 20.27 10 20.09 10.09L19.24 9.52C19.02 9.37 18.72 9.4 18.53 9.59L16.92 11.19L17.72 11.99L19 10.72L19.74 11.22C19.92 11.33 20.15 11.34 20.33 11.24C20.63 11.07 20.96 10.94 21.29 10.84C21.49 10.78 21.65 10.62 21.69 10.41L21.86 9.53L23.2 9.53L23.38 10.41C23.42 10.62 23.57 10.79 23.78 10.84C24.11 10.94 24.43 11.07 24.73 11.24C24.92 11.34 25.15 11.34 25.32 11.22L26.07 10.72L27.01 11.67L26.52 12.41C26.4 12.59 26.39 12.81 26.49 13C26.66 13.3 26.8 13.62 26.89 13.96C26.95 14.16 27.12 14.32 27.32 14.36L28.2 14.53L28.2 15.87L27.32 16.04C27.11 16.09 26.95 16.24 26.89 16.44C26.79 16.78 26.66 17.1 26.49 17.4C26.39 17.59 26.4 17.82 26.52 17.99L27.01 18.73L26.07 19.68L25.32 19.18C25.15 19.07 24.92 19.06 24.73 19.16C24.43 19.33 24.11 19.46 23.78 19.56C23.57 19.62 23.42 19.78 23.38 19.99L23.2 20.87L21.86 20.87L21.69 19.99L20.58 20.21L20.84 21.55C20.9 21.81 21.13 22 21.4 22L23.67 22C23.94 22 24.17 21.81 24.22 21.55L24.42 20.54C24.61 20.48 24.79 20.4 24.97 20.31L25.82 20.88C26.05 21.03 26.35 21 26.54 20.81L28.14 19.21C28.33 19.02 28.36 18.72 28.21 18.49L27.65 17.64C27.73 17.46 27.81 17.28 27.87 17.09L28.88 16.89C29.14 16.83 29.33 16.6 29.33 16.33L29.33 14.07C29.33 13.8 29.14 13.57 28.88 13.51L28.88 13.51Z" />
  </svg>
</template>

<style>
.icon-dev-ops {
  fill: currentColor;
}
</style>
