<script lang="ts">
export default { name: 'IconExpress' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-express"
  >
    <path fill-rule="evenodd" d="M35 27.21C33.76 27.53 33 27.23 32.31 26.19L27.43 19.44L26.73 18.51L21.02 26.22C20.37 27.14 19.69 27.55 18.47 27.22L25.77 17.42L18.98 8.57C20.15 8.34 20.95 8.46 21.67 9.51L26.73 16.34L31.83 9.54C32.49 8.62 33.19 8.26 34.36 8.61L31.73 12.1L28.16 16.75C27.73 17.28 27.79 17.64 28.18 18.15L35 27.21ZM1.01 17.26L1.61 14.32C3.23 8.51 9.89 6.09 14.49 9.69C17.17 11.8 17.84 14.79 17.71 18.13L2.57 18.13C2.35 24.16 6.68 27.79 12.21 25.94C14.15 25.29 15.29 23.77 15.86 21.87C16.15 20.92 16.63 20.77 17.53 21.04C17.07 23.42 16.04 25.4 13.86 26.64C10.61 28.5 5.96 27.9 3.52 25.32C2.06 23.82 1.46 21.92 1.19 19.89C1.15 19.55 1.06 19.23 1 18.91C1.01 18.36 1.01 17.81 1.01 17.26L1.01 17.26ZM16.28 16.85C16.19 12.5 13.47 9.4 9.77 9.38C5.7 9.35 2.78 12.37 2.6 16.85L16.28 16.85Z" />
  </svg>
</template>

<style>
.icon-express {
  fill: currentColor;
}
</style>
