<script lang="ts">
export default { name: 'IconIanbunagDock' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 360 360"
    width="360"
    height="360"
    class="icon-ianbunag-dock"
  >
    <g>
      <path d="M206.05 128.73L219.78 128.73L219.78 141.05L206.05 141.05L206.05 128.73Z" />
      <path d="M189.15 128.73L202.88 128.73L202.88 141.05L189.15 141.05L189.15 128.73Z" />
      <path d="M172.96 128.73L186.69 128.73L186.69 141.05L172.96 141.05L172.96 128.73Z" />
      <path d="M156.06 128.73L169.79 128.73L169.79 141.05L156.06 141.05L156.06 128.73Z" />
      <path d="M139.52 128.73L153.25 128.73L153.25 141.05L139.52 141.05L139.52 128.73Z" />
      <path d="M189.15 113.59L202.88 113.59L202.88 125.91L189.15 125.91L189.15 113.59Z" />
      <path d="M172.96 113.59L186.69 113.59L186.69 125.91L172.96 125.91L172.96 113.59Z" />
      <path d="M156.06 113.59L169.79 113.59L169.79 125.91L156.06 125.91L156.06 113.59Z" />
      <path d="M189.15 98.46L202.88 98.46L202.88 110.78L189.15 110.78L189.15 98.46Z" />
    </g>
    <g>
      <path d="M50.35 223.06L309.89 223.06L356 266.36L4 266.36L50.35 223.06Z" />
      <path d="M87.73 188.32L272.79 188.32L305.66 219.19L54.69 219.19L87.73 188.32Z" />
      <path d="M115.17 162.7L244.94 162.7L268 184.34L92 184.34L115.17 162.7Z" />
      <path d="M135.4 144.11L224.68 144.11L240.54 159L119.46 159L135.4 144.11Z" />
    </g>
    <g>
      <g>
        <path d="M316.93 218.14L316.93 222.01L356 257.91L356 218.14C356 218.14 342.09 224.84 317.26 218.33" />
        <path d="M336.46 217.78C325.66 217.78 316.93 215.74 316.93 213.21C316.93 210.68 325.66 208.63 336.46 208.63C347.27 208.63 356 210.68 356 213.21C356 215.74 347.27 217.78 336.46 217.78Z" />
      </g>
      <g>
        <path d="M43.07 218.14L43.07 222.01L4 257.91L4 218.14C4 218.14 17.91 224.84 42.74 218.33" />
        <path d="M23.54 208.63C34.34 208.63 43.07 210.68 43.07 213.21C43.07 215.74 34.34 217.78 23.54 217.78C12.73 217.78 4 215.74 4 213.21C4 210.68 12.73 208.63 23.54 208.63Z" />
      </g>
      <g>
        <path d="M228.74 142.67L228.74 144.09L243.02 157.17L243 142.65C243 142.65 237.93 145.11 228.86 142.74" />
        <path d="M235.87 142.53C231.92 142.54 228.73 141.8 228.73 140.88C228.73 139.95 231.92 139.2 235.86 139.19C239.8 139.19 242.99 139.93 243 140.85C243 141.78 239.81 142.53 235.87 142.53Z" />
      </g>
      <g>
        <path d="M130.89 142.84L130.9 144.25L116.65 157.38L116.63 142.86C116.63 142.86 121.71 145.3 130.77 142.91" />
        <path d="M123.76 139.38C127.7 139.38 130.89 140.12 130.89 141.04C130.89 141.96 127.7 142.72 123.76 142.72C119.82 142.73 116.63 141.99 116.63 141.07C116.63 140.14 119.81 139.39 123.76 139.38Z" />
      </g>
    </g>
  </svg>
</template>

<style>
.icon-ianbunag-dock {
  fill: currentColor;
}
</style>
