<script lang="ts">
export default { name: 'IconJest' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-jest"
  >
    <g>
      <path fill-rule="evenodd" d="M31.84 17.86C31.84 18.61 31.62 19.32 31.26 19.92C32.05 21.24 32.37 22.79 32.1 24.34C31.79 26.14 30.68 27.72 29.06 28.66C27.66 29.46 26.09 29.69 24.56 29.91C23.79 30.02 23.07 30.13 22.36 30.3C20.46 30.77 18.54 31.72 16.68 32.65C14.1 33.93 11.47 35.24 8.86 35.24C7.48 35.24 6.1 34.87 4.74 33.93C2.51 32.38 1.6 29.64 2.16 26.22C2.45 24.49 3.21 22.94 3.87 21.56C4.02 21.27 4.16 20.98 4.29 20.7C3.56 19.98 3.1 18.98 3.1 17.88C3.1 15.69 4.88 13.91 7.07 13.91C9.26 13.91 11.04 15.69 11.04 17.88C11.04 19.61 9.92 21.08 8.37 21.62C8.34 21.7 8.31 21.77 8.28 21.84L8.23 21.95C7.61 23.41 8.21 25.08 9.62 25.96C11.02 25.41 12.32 24.58 13.48 23.48C14.22 22.79 14.86 22.03 15.4 21.22C14.28 20.52 13.53 19.28 13.53 17.86C13.53 15.97 14.86 14.38 16.63 13.99L12.23 1L33 1L28.61 13.96C30.44 14.31 31.84 15.92 31.84 17.86ZM30.57 24.07C30.74 23.05 30.58 22.02 30.13 21.11C29.49 21.56 28.71 21.82 27.87 21.82C25.69 21.82 23.91 20.04 23.91 17.86C23.91 16.73 24.38 15.72 25.13 14.99L22.62 9.86L20.13 14.9C20.94 15.62 21.46 16.68 21.46 17.86C21.46 20.04 19.68 21.82 17.49 21.82C17.29 21.82 17.09 21.81 16.9 21.78C16.25 22.8 15.47 23.75 14.55 24.61C13.14 25.95 11.54 26.94 9.81 27.55L9.5 27.67L9.2 27.51C7.01 26.39 5.96 24.01 6.63 21.82C6.27 21.78 5.93 21.69 5.6 21.56C5.5 21.79 5.39 22.01 5.27 22.25C4.62 23.58 3.95 24.97 3.7 26.47C3.43 28.09 3.32 31.05 5.63 32.65C8.78 34.83 12.12 33.17 15.99 31.25C17.92 30.29 19.92 29.3 21.99 28.79C22.77 28.6 23.57 28.48 24.34 28.37C25.78 28.16 27.14 27.97 28.28 27.31C29.5 26.6 30.33 25.42 30.57 24.07ZM30.83 2.56L14.4 2.56L18.27 13.97C18.44 14 18.61 14.05 18.78 14.11L22.62 6.33L26.46 14.15C26.62 14.09 26.78 14.04 26.95 14L30.83 2.56ZM17.49 15.45C16.16 15.45 15.08 16.53 15.08 17.86C15.08 19.18 16.16 20.27 17.49 20.27C18.82 20.27 19.9 19.18 19.9 17.86C19.9 16.53 18.82 15.45 17.49 15.45ZM7.07 15.47C5.74 15.47 4.66 16.55 4.66 17.88C4.66 19.21 5.74 20.29 7.07 20.29C8.4 20.29 9.48 19.21 9.48 17.88C9.48 16.55 8.4 15.47 7.07 15.47ZM30.28 17.86C30.28 16.53 29.2 15.45 27.87 15.45C26.54 15.45 25.46 16.53 25.46 17.86C25.46 19.18 26.54 20.27 27.87 20.27C29.2 20.27 30.28 19.18 30.28 17.86Z" />
    </g>
  </svg>
</template>

<style>
.icon-jest {
  fill: currentColor;
}
</style>
