<script lang="ts">
export default { name: 'IconLeetCode' }
</script>

<template>
  <svg
    version="1.2"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 111 111"
    width="111"
    height="111"
    class="icon-leetcode"
  >
    <title>LeetCode icon</title>
    <g>
      <path id="Combined-Shape" d="m75.5 83.1c2.5-2.5 6.5-2.5 9 0 2.5 2.5 2.5 6.5 0 9l-11.1 11.1c-10.2 10.2-26.8 10.3-37.2 0.3-0.1 0-4.7-4.6-20-19.5-10.1-10-11.1-25.9-1.6-36.2l17.8-19c9.5-10.2 27-11.3 37.8-2.5l16.2 13.1c2.7 2.2 3.2 6.2 1 8.9-2.3 2.8-6.3 3.2-9 1l-16.2-13.1c-5.7-4.6-15.6-3.9-20.5 1.3l-17.8 19.1c-4.6 5-4.1 13 1.2 18.2 11.3 11 19.9 19.5 19.9 19.5 5.4 5.2 14.1 5.1 19.4-0.2z" />
      <path id="Path-2" fill-rule="evenodd" d="m48.6 72c-3.5 0-6.4-2.9-6.4-6.4 0-3.5 2.9-6.4 6.4-6.4h47c3.5 0 6.4 2.9 6.4 6.4 0 3.5-2.9 6.4-6.4 6.4z" />
      <path id="Stroke-3" fill-rule="evenodd" d="m57.4 2c2.4-2.6 6.5-2.7 9-0.3 2.6 2.4 2.7 6.5 0.3 9l-42.8 45.9c-4.6 5-4.1 13 1.2 18.2l19.8 19.4c2.5 2.5 2.6 6.5 0.1 9-2.5 2.6-6.5 2.6-9 0.1l-19.8-19.3c-10.1-10-11.1-25.9-1.6-36.2z" />
    </g>
  </svg>
</template>

<style>
.icon-leetcode {
  fill: currentColor;
}
</style>
