<script lang="ts">
export default { name: 'IconNGINX' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-nginx"
  >
    <path fill-rule="evenodd" d="M3 10.02C3 9.95 3 9.88 3.02 9.81C3.04 9.74 3.07 9.67 3.1 9.61C3.14 9.55 3.18 9.49 3.24 9.44C3.29 9.39 3.35 9.35 3.42 9.32L17.59 1.14C17.84 0.98 18.13 0.95 18.38 1.1L32.62 9.32C32.68 9.36 32.73 9.4 32.78 9.45C32.83 9.5 32.87 9.55 32.91 9.62C32.94 9.68 32.97 9.74 32.98 9.81C33 9.88 33 9.95 33 10.02L33 26.42C33 26.49 33 26.56 32.98 26.63C32.97 26.7 32.94 26.76 32.91 26.82C32.87 26.89 32.83 26.94 32.78 26.99C32.73 27.04 32.68 27.09 32.62 27.12L20.39 34.19C20.23 34.28 20.07 34.38 19.91 34.47C19.75 34.57 19.58 34.66 19.42 34.75C19.26 34.85 19.1 34.94 18.94 35.03C18.77 35.12 18.61 35.21 18.45 35.3C18.16 35.46 17.87 35.46 17.59 35.3L3.38 27.12C3.13 26.96 3 26.77 3 26.45L3 10.02ZM14.39 11.17C13.24 9.83 12.76 9.59 11.22 9.59C9.68 9.59 9.13 10.79 9.13 11.32C9.13 11.85 9.13 24.61 9.13 25.09C9.13 25.58 9.67 26.75 11.08 26.75C12.48 26.75 13.02 25.59 13.02 24.95C13.02 24.31 13.02 15.21 13.02 15.21C13.02 15.21 21.37 25.19 21.97 25.81C22.57 26.44 22.93 26.75 24.63 26.75C26.34 26.75 26.58 25.46 26.58 25.02C26.58 24.58 26.58 11.73 26.58 11.17C26.58 10.62 25.95 9.59 24.63 9.59C23.32 9.59 22.69 10.43 22.69 11.25C22.69 12.06 22.69 21.2 22.69 21.2C22.69 21.2 15.55 12.52 14.39 11.17Z" />
  </svg>
</template>

<style>
.icon-nginx {
  fill: currentColor;
}
</style>
