<script lang="ts">
export default { name: 'IconPhotopea' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-photopea"
  >
    <path d="M6.53 0.89L29.47 0.89C32.53 0.89 35 3.36 35 6.42L35 29.36C35 32.41 32.53 34.88 29.47 34.88L10.06 34.88L9.99 20.24L9.98 20.24L9.98 20.13C9.98 14.58 14.39 10.09 19.85 10.09C23.12 10.09 25.76 12.79 25.76 16.12C25.76 19.45 23.12 22.14 19.85 22.14C18.75 22.14 17.87 21.24 17.87 20.13C17.87 19.02 18.75 18.12 19.85 18.12C20.94 18.12 21.82 17.22 21.82 16.12C21.82 15.01 20.94 14.11 19.85 14.11C16.57 14.11 13.93 16.8 13.93 20.13C13.93 23.46 16.57 26.16 19.85 26.16C25.3 26.16 29.71 21.67 29.71 16.12C29.71 10.56 25.3 6.07 19.85 6.07C12.21 6.07 6.03 12.36 6.03 20.13L6.03 20.25L6 20.25L6.07 34.86C3.23 34.63 1 32.26 1 29.35L1 6.42C1 3.36 3.47 0.89 6.53 0.89Z" />
  </svg>
</template>

<style>
.icon-photopea {
  fill: currentColor;
}
</style>
