<script lang="ts">
export default { name: 'IconPM2' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-pm2"
  >
    <path d="M1 19.06L17.72 19.06L26.45 32.17C26.45 32.17 25.85 32.87 24.17 32.74C24.17 32.74 23.21 29.85 21.89 30.27C20.58 30.7 22.46 32.74 22.46 32.74L20.37 32.74C20.37 32.74 16.99 26.94 16.58 26.28C16.16 25.63 14.34 24.2 13.16 24.2C11.97 24.2 12.13 24.2 11.26 24.2C10.39 24.2 10.26 25.71 11.64 25.71C13.01 25.71 14.01 25.56 14.87 26.66C15.72 27.77 18.66 32.74 18.66 32.74L16.58 32.74C16.58 32.74 14.34 27.66 11.83 27.42C9.31 27.19 5.56 27.04 5.56 27.04L4.8 25.52C4.8 25.52 8.07 25.52 8.79 25.52C9.51 25.52 9.69 24.2 8.79 24.2C7.88 24.2 3.85 24.2 3.85 24.2L2.52 22.3C2.52 22.3 12.78 22.49 13.92 22.49C15.05 22.49 16.46 22.74 17.72 24.77C18.97 26.79 19.52 27.9 19.8 28.37C20.09 28.85 20.6 29.37 21.13 28.94C21.93 28.31 21.21 27.55 20.99 27.19C20.77 26.82 18.47 22.9 17.72 22.3C16.96 21.69 16.71 20.97 10.88 20.97C5.04 20.97 1.76 20.97 1.76 20.97C1.76 20.97 1.14 20.57 1 19.06Z" />
    <path d="M1.19 18.7L17.91 18.7L26.64 5.59C26.64 5.59 26.04 4.9 24.36 5.02C24.36 5.03 23.4 7.92 22.08 7.49C20.77 7.07 22.65 5.02 22.65 5.02L20.56 5.02C20.56 5.02 17.18 10.83 16.77 11.48C16.35 12.13 14.53 13.57 13.35 13.57C12.16 13.57 12.32 13.57 11.45 13.57C10.58 13.57 10.45 12.05 11.83 12.05C13.2 12.05 14.2 12.21 15.06 11.1C15.91 10 18.85 5.02 18.85 5.02L16.77 5.02C16.77 5.02 14.53 10.1 12.02 10.34C9.5 10.58 5.75 10.72 5.75 10.72L4.99 12.24C4.99 12.24 8.26 12.24 8.98 12.24C9.7 12.24 9.88 13.57 8.98 13.57C8.07 13.57 4.04 13.57 4.04 13.57L2.71 15.47C2.71 15.47 12.97 15.28 14.11 15.28C15.24 15.28 16.65 15.03 17.91 13C19.16 10.98 19.71 9.87 19.99 9.39C20.28 8.92 20.79 8.39 21.32 8.82C22.12 9.46 21.4 10.22 21.18 10.58C20.96 10.95 18.66 14.87 17.91 15.47C17.15 16.08 16.9 16.8 11.07 16.8C5.23 16.8 1.95 16.8 1.95 16.8C1.95 16.8 1.33 17.2 1.19 18.7Z" />
    <path d="M27.02 5.78L25.88 7.49C25.88 7.49 27.89 9.51 27.02 10.15C26.15 10.8 25.12 9.01 25.12 9.01L23.98 10.34C23.98 10.34 27.95 16.51 28.16 17.18C28.38 17.85 28.47 19.12 28.16 19.84C27.85 20.57 27.15 22.45 26.07 21.74C24.99 21.03 27.01 19.83 26.83 18.51C26.65 17.19 26.27 16.85 25.5 15.66C24.73 14.48 23.03 11.86 23.03 11.86L22.08 13.57C22.08 13.57 24.55 16.81 24.55 18.7C24.55 20.59 21.7 24.21 21.7 24.21L22.65 25.73C22.65 25.73 24.43 22.39 25.31 22.88C26.2 23.37 25.69 24 25.31 24.59C24.93 25.18 23.6 27.25 23.6 27.25L24.55 28.77C24.55 28.77 29.33 21.69 29.87 20.79C30.41 19.89 31.01 18.43 30.25 17.18C29.49 15.93 27.58 13.06 27.4 12.62C27.23 12.18 27.43 11.29 28.16 11.48C28.89 11.67 29.16 12.34 29.3 12.62C29.44 12.91 32.34 17.02 32.34 18.51C32.34 20 30.98 22.04 30.44 22.88C29.9 23.72 25.5 30.29 25.5 30.29L26.64 32C26.64 32 27.23 32.12 28.54 29.91C29.86 27.69 33.43 22.47 34.05 21.55C34.67 20.63 35 20.22 35 18.51C35 16.8 32.7 14.23 32.15 13.19C31.6 12.15 28.3 6.45 27.02 5.78Z" />
  </svg>
</template>

<style>
.icon-pm2 {
  fill: currentColor;
}
</style>
