<script lang="ts">
export default { name: 'IconSwagger' }
</script>

<template>
  <svg
    version="1.2"
    baseProfile="tiny-ps"
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 36 36"
    width="36"
    height="36"
    class="icon-swagger"
  >
    <path fill-rule="evenodd" d="M18 35C8.6 35 1 27.4 1 18C1 8.6 8.6 1 18 1C27.4 1 35 8.6 35 18C35 27.4 27.4 35 18 35ZM33.22 18C33.22 9.58 26.42 2.78 18 2.78C9.58 2.78 2.78 9.58 2.78 18C2.78 26.42 9.58 33.22 18 33.22C26.42 33.22 33.22 26.42 33.22 18Z" />
    <path d="M23.67 17.99C23.63 18.72 22.99 19.32 22.37 19.22L22.36 19.22C22.19 19.22 22.03 19.18 21.88 19.12C21.73 19.06 21.59 18.97 21.47 18.85C21.36 18.73 21.26 18.6 21.2 18.44C21.14 18.29 21.11 18.13 21.11 17.97C21.11 17.8 21.15 17.64 21.22 17.49C21.28 17.34 21.38 17.2 21.5 17.09C21.62 16.97 21.76 16.88 21.91 16.82C22.07 16.76 22.23 16.73 22.4 16.74C23.09 16.74 23.7 17.33 23.67 17.99L23.67 17.99ZM12.54 25.02C12.8 25.03 13.07 25.02 13.37 25.02L13.37 26.91C11.5 27.23 9.96 26.7 9.58 25.12C9.55 24.97 9.52 24.83 9.49 24.68C9.47 24.54 9.44 24.39 9.42 24.24C9.4 24.09 9.39 23.95 9.37 23.8C9.36 23.65 9.35 23.5 9.34 23.35C9.3 22.72 9.37 22.09 9.32 21.46C9.19 19.73 8.97 19.14 7.31 19.06L7.31 16.91C7.34 16.9 7.37 16.89 7.4 16.89C7.43 16.88 7.46 16.87 7.49 16.87C7.52 16.86 7.55 16.86 7.58 16.85C7.61 16.85 7.64 16.85 7.67 16.84C8.58 16.8 8.96 16.52 9.16 15.62C9.19 15.5 9.21 15.37 9.23 15.24C9.24 15.12 9.26 14.99 9.27 14.86C9.29 14.74 9.3 14.61 9.31 14.48C9.32 14.35 9.32 14.23 9.33 14.1C9.4 13.11 9.37 12.1 9.54 11.13C9.78 9.72 10.65 9.04 12.09 8.96C12.51 8.94 12.92 8.96 13.38 8.96L13.38 10.89C13.19 10.9 13.02 10.93 12.84 10.93C11.66 10.89 11.6 11.29 11.52 12.27C11.46 12.88 11.54 13.5 11.5 14.11C11.49 14.26 11.47 14.41 11.46 14.57C11.44 14.72 11.42 14.87 11.4 15.02C11.38 15.17 11.36 15.32 11.34 15.47C11.31 15.63 11.28 15.78 11.25 15.93C11.08 16.79 10.55 17.44 9.81 17.99C11.25 18.92 11.41 20.38 11.5 21.85C11.55 22.65 11.53 23.45 11.61 24.23C11.67 24.85 11.91 25 12.54 25.02L12.54 25.02ZM13.76 16.74L13.78 16.74C13.94 16.74 14.1 16.77 14.25 16.84C14.4 16.9 14.54 17 14.65 17.12C14.76 17.23 14.85 17.37 14.91 17.52C14.97 17.68 15 17.84 15 18C15 18.17 14.97 18.33 14.9 18.48C14.84 18.64 14.74 18.77 14.62 18.89C14.5 19 14.36 19.09 14.2 19.14C14.04 19.2 13.88 19.23 13.71 19.22C13.38 19.22 13.05 19.09 12.81 18.85C12.58 18.62 12.44 18.29 12.45 17.95C12.46 17.62 12.6 17.3 12.84 17.07C13.09 16.84 13.42 16.72 13.76 16.74L13.76 16.74ZM18.04 16.74C18.79 16.73 19.29 17.22 19.29 17.96C19.3 18.72 18.82 19.21 18.08 19.22C17.32 19.22 16.82 18.74 16.81 18C16.8 17.83 16.83 17.67 16.88 17.51C16.94 17.36 17.03 17.22 17.15 17.1C17.26 16.98 17.4 16.89 17.55 16.82C17.71 16.76 17.87 16.73 18.04 16.74L18.04 16.74ZM27 15.8C27.2 16.54 27.59 16.81 28.38 16.84C28.51 16.85 28.64 16.87 28.81 16.89L28.81 19.04C28.72 19.07 28.62 19.09 28.52 19.11C27.47 19.18 26.99 19.61 26.88 20.66C26.81 21.34 26.82 22.02 26.77 22.7C26.77 22.88 26.76 23.07 26.75 23.25C26.74 23.44 26.72 23.62 26.71 23.81C26.69 23.99 26.67 24.18 26.65 24.36C26.62 24.55 26.6 24.73 26.57 24.92C26.3 26.25 25.47 26.91 24.1 26.99C23.65 27.02 23.21 26.99 22.73 26.99L22.73 25.07C22.99 25.06 23.22 25.03 23.44 25.03C24.26 25.01 24.55 24.74 24.59 23.93C24.64 23.04 24.66 22.14 24.7 21.24C24.75 19.95 25.11 18.8 26.31 17.99C25.62 17.5 25.07 16.9 24.93 16.1C24.75 15.13 24.7 14.13 24.6 13.15C24.56 12.65 24.56 12.15 24.51 11.66C24.46 11.13 24.1 10.95 23.61 10.93C23.33 10.93 23.06 10.93 22.7 10.93L22.7 9.05C24.96 8.68 26.53 9.43 26.67 11.6C26.73 12.51 26.72 13.42 26.78 14.33C26.81 14.82 26.88 15.32 27 15.8L27 15.8Z" />
  </svg>
</template>

<style>
.icon-swagger {
  fill: currentColor;
}
</style>
